---
import "../styles/global.css";
import Header from "../componets/Header.astro";
import Footer from "../componets/Footer.astro";

const blogPage = "My Astro Learning Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{blogPage}</title>
  </head>
  <body>
    <Header />
    <h1>{blogPage}</h1>

    <h2><a target="_blank" href="/posts/post-1/">Post One</a></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto animi
      corrupti, eaque consectetur sunt tempore.
    </p>
    <h2><a target="_blank" href="/posts/post-2/">Post Two</a></h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto animi
      corrupti, eaque consectetur sunt tempore.
    </p>
    <h2><a target="_blank" href="/posts/post-3/">Post Three</a></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto animi
      corrupti, eaque consectetur sunt tempore.
    </p>

    <Footer />
  </body>
</html>
